@font-face {
  font-family: 'sourcesanspro';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/fonts/sourcesanspro-regular.woff) format('woff');
}
@font-face {
  font-family: 'sourcesanspro';
  font-style: normal;
  font-weight: bold;
  font-display: block;
  src: url(https://design.penpot.app/fonts/sourcesanspro-bold.woff) format('woff');
}

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Board */
.board-e7b3c4e31144 {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #FFFFFF;
  overflow: hidden;
  z-index: 0;
}

/* Board */
.board-e7b3e0f4eb80 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 960px;
  height: 1080px;
  background: linear-gradient(to bottom, rgba(39, 193, 213, 1) 0%,rgba(39, 193, 213, 0) 100%);
  overflow: hidden;
}

/* +49 1234 1111 1111 */
.c-49-1234-1-e7b49138fa7b {
  position: absolute;
  left: 252px;
  top: 497px;
  width: 271px;
  height: 50px;
}
.c-49-1234-1-e7b49138fa7b .root-0 {


  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.c-49-1234-1-e7b49138fa7b .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.c-49-1234-1-e7b49138fa7b .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.c-49-1234-1-e7b49138fa7b .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;

  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: 400;
}

/* e@mail.de */
.emailde-e7b48fedd5d8 {
  position: absolute;
  left: 252px;
  top: 376px;
  width: 126px;
  height: 46px;
}
.emailde-e7b48fedd5d8 .root-0 {


  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.emailde-e7b48fedd5d8 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.emailde-e7b48fedd5d8 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.emailde-e7b48fedd5d8 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;

  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: 400;
}

/* Straße 1
22222 Hamburg */
.strae-1-2-e7b48b6fd572 {
  position: absolute;
  left: 252px;
  top: 246px;
  width: 228px;
  height: 51px;
}
.strae-1-2-e7b48b6fd572 .root-0 {


  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.strae-1-2-e7b48b6fd572 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.strae-1-2-e7b48b6fd572 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.strae-1-2-e7b48b6fd572 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;

  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: 400;
}
.strae-1-2-e7b48b6fd572 .root-0-paragraph-set-0-paragraph-1 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.strae-1-2-e7b48b6fd572 .root-0-paragraph-set-0-paragraph-1-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;

  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: 400;
}

/* Contacts */
.contacts-e7b45b21a672 {
  position: absolute;
  left: 252px;
  top: 126px;
  width: 126px;
  height: 46px;
}
.contacts-e7b45b21a672 .root-0 {


  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.contacts-e7b45b21a672 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.contacts-e7b45b21a672 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.contacts-e7b45b21a672 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(0, 0, 0, 1);
  text-transform: none;

  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  text-rendering: geometricPrecision;
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 30px;
  font-family: "sourcesanspro";
  font-style: normal;
  font-weight: bold;
}
