<!-- frame: Board -->
<div class="frame board-e7b3c4e31144">
  <!-- frame: Board -->
  <div class="frame board-e7b3e0f4eb80">
    <!-- text: Contacts -->
    <div class="shape text contacts-e7b45b21a672">
      <div class="text-node-html" id="html-text-node-0f114c43-4e97-8024-8004-e7b45b21a672" data-x="400" data-y="311">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:bold">Contacts</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: Straße 1
22222 Hamburg -->
    <div class="shape text strae-1-2-e7b48b6fd572">
      <div class="text-node-html" id="html-text-node-0f114c43-4e97-8024-8004-e7b48b6fd572" data-x="400" data-y="431">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Straße 1</span></p>
            <p class="paragraph root-0-paragraph-set-0-paragraph-1" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-1-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">22222 Hamburg</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: e@mail.de -->
    <div class="shape text emailde-e7b48fedd5d8">
      <div class="text-node-html" id="html-text-node-0f114c43-4e97-8024-8004-e7b48fedd5d8" data-x="400" data-y="561">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">email.de</span></p>
          </div>
        </div>
      </div>
    </div>
    <!-- text: +49 1234 1111 1111 -->
    <div class="shape text c-49-1234-1-e7b49138fa7b">
      <div class="text-node-html" id="html-text-node-0f114c43-4e97-8024-8004-e7b49138fa7b" data-x="400" data-y="682">
        <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
          <div class="paragraph-set root-0-paragraph-set-0">
            <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">+49 1234 1111 1111</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

