<!-- frame: HomeScreen -->
<div class="frame home-screen-e68aeef24d2c">
  <!-- frame: TotalTodayGroup -->
  <div class="frame total-today-e69290df4628">
    <!-- group: TotalTodayGroup -->
    <div class="group total-today-e6918fd0a6ca">
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-e69150753ff0">
      </div>
      <!-- text: Total Powerusage Today -->
      <div class="shape text total-powe-e690b6256226">
        <div class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e690b6256226" data-x="-325" data-y="663">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Total Powerusage Today</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: AvgWeeklyGroup -->
  <div class="frame avg-weekly-g-e6950e59e01e">
    <!-- group: AvgWeeklyGroup -->
    <div class="group avg-weekly-g-e6919edbb3bf">
      <!-- text: Average Powerusage Weekly -->
      <div class="shape text average-po-e690b97d1a4f">
        <div class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e690b97d1a4f" data-x="280" data-y="663">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Average Powerusage Weekly</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-e6916073055d">
      </div>
    </div>
  </div>
  <!-- frame: AvgTodayGroup -->
  <div class="frame avg-today-gr-e69288eed233">
    <!-- group: AvgTodayGroup -->
    <div class="group avg-today-gr-e6917c790f1a">
      <!-- rect: Rectangle -->
      <div class="shape rect rectangle-e69066c3094f">
      </div>
      <!-- text: Average Powerusage Today -->
      <div class="shape text average-po-e6909b57b9b8">
        <div class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e6909b57b9b8" data-x="-930" data-y="663">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Average Powerusage Today</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- frame: MainMenuGroup -->
  <div class="frame main-menu-gr-e69423763466">
    <!-- group: MainMenuGroup -->
    <div class="group main-menu-gr-e68fc5603ac0">
      <!-- text: Zappi -->
      <div class="shape text zappi-e6936b4c85ee">
        <div class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e6936b4c85ee" data-x="-954" data-y="434">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:bold">Zappi</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- text: Contact -->
      <div class="shape text contact-e6939dd70409">
        <input class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e6939dd70409" data-x="564" data-y="434" onclick="switchToContactScreen()">>
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Contact</span></p>
            </div>
          </div>
      </div>
      <!-- text: Graphs -->
      <div class="shape text graphs-e693f1c0e331">
        <div class="text-node-html" id="html-text-node-b722391e-7a7c-8036-8004-e693f1c0e331" data-x="382" data-y="434">
          <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
            <div class="paragraph-set root-0-paragraph-set-0">
              <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(0, 0, 0, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(0, 0, 0, 1);text-decoration:none;--font-id:sourcesanspro;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#000000&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:30px;font-family:&quot;sourcesanspro&quot;;font-style:normal;font-weight:400">Graphs</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
